@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-border-radius: 0px;
  -webkit-appearance: none; }

.page {
  font-family: "PT Sans", Arial, Georgia;
  font-weight: normal; }
  .page__inner {
    margin-top: 200px; }

.wrapper {
  display: block;
  min-width: 270px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.slider-card {
  /*амперсанд только для элементов и псевдоэлементов */
  width: 100%;
  overflow: hidden;
  background-color: #eaeaea;
  position: relative;
  height: 450px; }
  .slider-card__right {
    position: absolute;
    background-color: #db711b;
    width: 50%;
    height: 450px;
    transform: skewX(-19deg);
    bottom: 1;
    right: -90px; }
  .slider-card__info {
    transform: skewX(19deg);
    margin-top: 105px;
    margin-left: 150px;
    color: #fff;
    max-width: 350px; }
  .slider-card__image {
    position: absolute;
    left: 55%;
    transform: translateX(-49%);
    top: 70px; }

.info__text {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px; }

.info__text--name {
  font-weight: bold; }

.info__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff; }

.info__link:hover {
  border-bottom: none; }

.info__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #db711b;
  background-color: #fff;
  text-decoration: none;
  margin-top: 50px;
  height: 40px;
  width: 270px;
  font-size: 18px;
  position: relative; }
  .info__btn::before {
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #db711b;
    left: -25px;
    transform: skewX(-30deg); }
  .info__btn::after {
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #db711b;
    right: -25px;
    transform: skewX(-30deg); }

.info__btn:hover {
  opacity: 0.8; }

.slider-panel {
  display: flex;
  box-shadow: 4px 17px 82px -15px #000000; }

.slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaeaea;
  flex-grow: 1; }

.slider-pagination__item {
  width: 25%; }

.slider-pagination__btn {
  border: none;
  width: 100%;
  background: none;
  color: #b1b1b1;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer; }
  .slider-pagination__btn--active {
    background-color: #db711b;
    color: #fff; }

.slider-control {
  display: flex; }
  .slider-control__btn {
    display: block;
    width: 30px;
    background-color: #797778;
    height: 100%;
    position: relative;
    border: none;
    cursor: pointer; }
  .slider-control__btn:hover {
    opacity: 0.8; }
  .slider-control__btn--prev {
    border-right: 2px solid #9a9899; }
    .slider-control__btn--prev::before {
      content: '';
      position: absolute;
      display: block;
      height: 7px;
      width: 7px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(45deg);
      left: 40%;
      top: 40%; }
  .slider-control__btn--next {
    border-left: 2px solid #9a9899; }
    .slider-control__btn--next::before {
      content: '';
      position: absolute;
      display: block;
      height: 7px;
      width: 7px;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      transform: rotate(45deg);
      right: 40%;
      top: 40%; }
  .slider-control__pagination {
    background-color: #626262;
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 15px; }
