.slider { 
    &__item {
        width: 100%;           
        overflow: hidden;
        background-color: $light-grey-color;
        position: relative;
        height: 450px;           
    } 
    &-card__link {
        color: $white-color;
        text-decoration: none;
        border-bottom: 1px dotted $white-color;  
    }        
    &-card__btn {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;           
     color: $orange-color;
     background-color: $white-color; 
     text-decoration: none;
     margin-top: 50px;
     height: 40px;
     width: 270px;
     font-size: 18px;
     position: relative;
        &::before {
            content: '';
            display: block;
            height: 40px;
            width: 40px;
            position: absolute;
            background-color: $orange-color;
            left: -25px;
            transform: skewX(-30deg);
        }
        &::after {
            content: '';
            display: block;
            height: 40px;
            width: 40px;
            position: absolute;
            background-color: $orange-color;
            right: -25px;
            transform: skewX(-30deg);
        }     
    }
     &-card--right {
         position: absolute;
         background-color: $orange-color;
         width: 50%;
         height: 450px;
         transform: skewX(-19deg);
         bottom: 0;            
         right: -90px;           
     }

     &-card__text {
         transform: skewX(19deg);
         margin-top: 105px;
         margin-left: 150px;
         color: $white-color;
         max-width: 350px;                   
     }
     &-control__item {        
        width: 20%;
        color: $grey-color;
        background-color: $white-color;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 0 10px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        &--active {
            background-color: $orange-color;
            color: $white-color;
        }  
    }
    &-control {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 10px;
        background-color: $light-grey-color;
        &__btns {
            display: flex;
            justify-content: flex-end;
            padding: 0;     
            
        }
        &__btn {
            display: block;
            width: 30px;
            background-color: $grey-button-color;
            height: 100%;
            position: relative;
        }

        &__pagination {
            background-color: $dark-grey-color;
            color: $white-color;            
            width:110px;
            text-align: center;
            padding: 10px;
        }
    }

    &-btn--prev {
        border-right: 2px solid $grey_btn-border;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 7px;
            width: 7px;
            border-left: 2px solid $white-color;
            border-bottom: 2px solid $white-color;
            transform: rotate(45deg);
            left: 40%;
            top: 35%;
        }
    }

    &-btn--next {
        border-left: 2px solid $grey_btn-border;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 7px;
            width: 7px;
            border-right: 2px solid $white-color;
            border-top: 2px solid $white-color;
            transform: rotate(45deg);
            right: 40%;
            top: 35%;
        }
    }

   
    &__image {
        position: absolute;
        left: 55%;
        transform: translateX(-49%);
        top: 70px;
    }
    
}

    