.slider-control {
    display: flex;
    &__btn {
        display: block;
        width: 30px;
        background-color: $grey-button-color;
        height: 100%;
        position: relative;
        border: none;
        cursor: pointer;
    }
    &__btn:hover {
        opacity: 0.8;
    }
    &__btn--prev {
        border-right: 2px solid $grey_btn-border;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 7px;
            width: 7px;
            border-left: 2px solid $white-color;
            border-bottom: 2px solid $white-color;
            transform: rotate(45deg);
            left: 40%;
            top: 40%;
        }
    }

    &__btn--next {
        border-left: 2px solid $grey_btn-border;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 7px;
            width: 7px;
            border-right: 2px solid $white-color;
            border-top: 2px solid $white-color;
            transform: rotate(45deg);
            right: 40%;
            top: 40%;
        }
    }

    &__pagination {
        background-color: $dark-grey-color;
        color: $white-color;            
        width:100px;
        text-align: center;
        padding: 15px;
    }
}